.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding-top: 30px;
  overflow-x: hidden;
}

.header__box {
  background-image: url(../images/image-hero-desktop.png);
  background-repeat: no-repeat;
  background-position: right 14% top 100%;
  background-size: 500px 618px;
}

@media (max-width: 1120px) {
  .header__box {
    background-position: right 14% top 70%;
    background-size: 400px 518px;
  }
}

@media (max-width: 940px) {
  .header__box {
    background-position: right 8% top 50%;
    background-size: 300px 418px;
  }
}

@media (max-width: 760px) {
  .header__box {
    background-image: url(../images/image-hero-mobile.png);
    background-position: center top 15%;
    background-size: 536px 334px;
  }
}

@media (max-width: 565px) {
  .header__box {
    background-image: url(../images/image-hero-mobile.png);
    background-position: center top 15%;
    background-size: 425px 283px;
  }
}

@media (max-width: 405px) {
  .header__box {
    background-image: url(../images/image-hero-mobile.png);
    background-position: center top 15%;
    background-size: 425px 283px;
  }
}

.header__box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 140px;
}

@media (max-width: 760px) {
  .header__box-top {
    margin-bottom: 373px;
  }
}

@media (max-width: 565px) {
  .header__box-top {
    margin-bottom: 325px;
  }
}

.header__box-bottom {
  max-width: 1190px;
  width: 100%;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav__box {
  flex-basis: 67%;
}

@media (max-width: 1120px) {
  .nav__box {
    flex-basis: 0;
  }
}

@media (max-width: 760px) {
  .nav__box {
    display: none;
  }
}

.nav__item-link {
  cursor: pointer;
  font-weight: 500;
  color: dimgray;
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.6s cubic-bezier(0.16, 1, 0.3, 1), color 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav__item-link svg {
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1), stroke 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav__item-focus {
  color: #141414;
  border-color: #141414;
}

.nav__item-focus svg {
  transform: rotate(180deg);
}

.nav__item-focus svg path {
  stroke: #141414;
}

.login__box {
  display: flex;
  gap: 15px;
  align-items: center;
}

@media (max-width: 760px) {
  .login__box {
    display: none;
  }
}

.login__btn {
  border: none;
  background-color: transparent;
  color: dimgray;
  padding: 10px 30px;
  transition: border-color 0.6s cubic-bezier(0.16, 1, 0.3, 1), color 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.login__btn:hover {
  color: #141414;
  border-color: #141414;
}

.register {
  border: 2px solid dimgray;
  border-radius: 18px;
}

.lern__more-btn {
  padding: 15px 40px;
  border-radius: 18px;
  background-color: #141414;
  border: 1px solid #141414;
  color: white;
  font-weight: 700;
  font-size: 18px;
  transition: color 0.6s cubic-bezier(0.16, 1, 0.3, 1), background-color 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.lern__more-btn:hover {
  background-color: white;
  color: #141414;
}

.remote__work {
  max-width: 472px;
}

@media (max-width: 1120px) {
  .remote__work {
    max-width: 426px;
  }
}

@media (max-width: 940px) {
  .remote__work {
    max-width: 373px;
  }
}

@media (max-width: 760px) {
  .remote__work {
    max-width: 525px;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 565px) {
  .remote__work {
    max-width: 303px;
  }
}

.remote__work-text {
  margin-bottom: 40px;
}

@media (max-width: 565px) {
  .remote__work-text {
    margin-bottom: 16px;
  }
}

.remote__work-title {
  margin-bottom: 25px;
  font-size: 72px;
  font-weight: 700;
  line-height: 105%;
}

@media (max-width: 1120px) {
  .remote__work-title {
    font-size: 65px;
  }
}

@media (max-width: 940px) {
  .remote__work-title {
    font-size: 55px;
  }
}

@media (max-width: 565px) {
  .remote__work-title {
    font-size: 31px;
    margin-bottom: 16px;
  }
}

.remote__work-subtitle {
  color: dimgray;
  font-size: 18px;
  font-weight: 500;
  line-height: 155%;
}

@media (max-width: 1120px) {
  .remote__work-subtitle {
    font-size: 16px;
  }
}

@media (max-width: 940px) {
  .remote__work-subtitle {
    font-size: 14px;
  }
}

@media (max-width: 565px) {
  .remote__work-subtitle {
    font-size: 13px;
  }
}

.remote__work-lern {
  margin-bottom: 90px;
}

@media (max-width: 760px) {
  .remote__work-lern {
    margin-bottom: 35px;
  }
}

.remote__work-partners {
  display: flex;
  align-items: center;
  gap: 35px;
}

@media (max-width: 760px) {
  .remote__work-partners {
    justify-content: center;
  }
}

@media (max-width: 565px) {
  .remote__work-partners {
    gap: 15px;
  }
}

@media (max-width: 405px) {
  .remote__work-partners {
    flex-wrap: wrap;
  }
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 30px;
}

@media (max-width: 760px) {
  .burger {
    display: block;
  }
}

.burger__cross {
  transform: rotate(-135deg);
  top: 10px !important;
}

.burger__cross::after {
  transform: rotate(90deg);
  top: 0px !important;
}

.burger__cross::before {
  transform: rotate(-90deg);
  top: 0px !important;
}

.burger__menu {
  transform: translateX(277px);
  position: absolute;
  top: -30px;
  right: -20px;
  background-color: white;
  width: 237px;
  height: 750px;
  z-index: 11;
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.burger__menu-open {
  transform: translateX(0px);
}

.burger__inner {
  padding: 90px 30px;
}

.burger__inner nav {
  margin-bottom: 20px;
}

.burger__inner-link {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.burger__inner-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.burger__inner-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger__tab {
  margin-top: 10px;
}

.burger__tab-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.burger__tab-inner {
  margin-left: 20px;
}

.burger__tab-inner ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.burger span {
  position: absolute;
  border-bottom: 2px solid black;
  height: 2px;
  background-color: black;
  width: 40px;
  top: 25px;
  right: 0;
  z-index: 1111;
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.burger span::after {
  content: '';
  height: 2px;
  background-color: black;
  width: 40px;
  position: absolute;
  top: -10px;
  right: 0;
}

.burger span::before {
  content: '';
  height: 2px;
  background-color: black;
  width: 40px;
  position: absolute;
  top: -20px;
  right: 0;
}

.open__tab {
  display: block;
  position: absolute;
  transition: display 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.open__tab:nth-child(1) {
  top: 30px;
  left: -35px;
}

.open__tab:nth-child(2) {
  top: 30px;
  left: 130px;
}

.open__tab-inner {
  padding: 18px;
  box-shadow: 0px 0px 26px 4px rgba(34, 60, 80, 0.2);
  background: white;
  border-radius: 15px;
}

.open__tab-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.open__tab-item:not(:last-child) {
  margin-bottom: 10px;
}

.open__tab-link {
  color: dimgray;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: border-color 0.6s cubic-bezier(0.16, 1, 0.3, 1), color 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.open__tab-link:hover {
  color: #141414;
  border-color: #141414;
}

.hide {
  display: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
  position: fixed;
}
